* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.container-fluid {
    padding: 0;
}

#main-container {
    background-color: #FFF;
    box-shadow: 0 0 1em #000;
    width: 80%;
    margin-top: 70px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
       
}

#logo-pea {
    width: 170px;
}

/* navbar */
.navbar {
    background-color: rgb(48, 173, 169);    
    padding: 0 13%;
    
}

.navbar a {
    color: #FFF;
    transition: .3s;
}

.navbar-nav a:hover {
    color: rgb(75, 245, 208);
}

.navbar-toggler {    
    border: none;    
}

.navbar-toggler span i {
    color: #FFF;
}

/* about */
.title {
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    margin: 0 0 50px 0;
    color: rgb(48, 173, 169);
}

#about-text {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 30px;
}

#about-area {
    padding: 70px 150px;
}

#about-area p {
    text-align: justify;
}

/* serviços */

#services-area {
    padding: 70px 150px;
    background-color: #f7f7f7;
}

.service-img {
    padding: 0px 40px 60px 0;
}

.list-box {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.9rem;
}

.list-box ul {
    list-style: none;
}

.list-box ul li {
    line-height: 30px;
}

.list-box ul li i {
    color: rgb(48, 173, 169);
    margin-right: 10px;
    font-weight: bold;
}

/* footer */

#contact-area {
    padding: 70px 150px;
}

.form-control {
    padding: 13px;
    margin-bottom: 10px;
    border-radius: 0px;
}

#btn-enviar {
    background-color: rgb(48, 173, 169);
    color: #FFF;
    font-weight: bold;
    padding: 15px 50px;
    border: 2px solid transparent;  
    transition: .3s;  
}

#btn-enviar:hover {
    background-color: transparent;
    border: 2px solid rgb(48, 173, 169);
    color: rgb(48, 173, 169);
}



.contact-info {
    margin-top: auto;
    margin-bottom: auto;
}

.contact-info i {
    color: rgb(48, 173, 169);
    font-size: 24px;
    padding: 10px 0;
    width: 40px;
}

#copy-area {
    background-color: #f7f7f7;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

#copy-area a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#copy-area a:hover{
    color: rgb(48, 173, 169);
}

/* Email Success */

#main-container-success {
    position: absolute;
    background-color: #FFF;
    box-shadow: 0 0 1em #000;
    width: 80%;
    height: 92%;
    margin-top: 70px;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;    
    padding: 50px;
    
}

#main-container-success p {
    font-size: 26px;
    margin-bottom: 30px;
}

#msg-email {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column; 
    padding: 40px;
    height: 700px;
    width: 500px;
    margin: auto;
}

#msg-email i {
    color: green;
    font-size: 150px;
    margin-bottom: 50px;    
}

#btn-voltar {
    text-decoration: none;
    background-color: rgb(48, 173, 169);
    padding: 15px 40px;
    color: #FFF;
    font-weight: bold;
    border: 2px solid transparent;
    transition: .3s;
}

#btn-voltar:hover {
    background-color: transparent;
    color: rgb(48, 173, 169);
    border: 2px solid rgb(48, 173, 169);
}


/* Responsivo */

@media (max-width: 1024px) {

    body {
        background-size: auto;
    }

    /* about */
    #about-area {
        padding: 70px 50px;
    }

    #about-area p {
        font-size: 0.8rem;
    }

    #about-area img {
        margin-top: auto;
        margin-bottom: auto;
    }

    #about-text {
        line-height: 25px;
    }

    /* services */
    #services-area {
        padding: 70px 50px;
    }

    .list-box {
        padding: 0;
    }

    .list-box ul {
        padding: 0;
    }

    .list-box ul li {
        font-size: 0.8rem;
    }

    /* contact */

    #contact-area {
        padding: 70px 50px;
    }

    #contact-area p {
        font-size: 0.8rem;
    }

    .contact-info {
        padding: 0;
    }

    /* Email Success */
    #msg-email {
        width: 100%;
        height: 100%;
    }
    #main-container-success {
        height: 90.8%;
    }
}

@media (max-width: 768px) {
    /* main */
    #main-container{
        width: 100%;
        margin-bottom: 0;
        box-shadow: none;
    }

    #main-container-success {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    /* about */
    #about-area img {
        margin-top: 70px;
    }

    /* services */

    .list-box ul li {
        font-size: 0.75rem;
    }

    /* contact */

    .contact-info i {
        width: 30px;
        font-size: 1.0rem;
    }

}

@media (max-width: 425px) {

    /* navbar */
    .navbar {
        padding: 0 5%;
    }

    /* about */
    #about-area img {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .title {
        font-size: 1.7rem;
    }

    /* services */

    .service-img {
        padding: 0;
        margin: 20px 0 50px 0;
    }

    /* contact */
    #contact-area form {
        margin-top: 25px;
    }

    #copy-area p {
        font-size: 0.9rem;
    }

    /* Email success */
    #msg-email p{
        font-size: 1.2rem;
    }

    #msg-email i {
        font-size: 8rem;
    }
}



